<a href="https://colab.research.google.com/github/GNAVEEN13/cancer-prediction-p2b/blob/main/spammail.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Import Libraries

In [1]:
import numpy as np
import pandas as pd
import io
from sklearn.model_selection import train_test_split
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.svm import LinearSVC
from sklearn.metrics import accuracy_score

Data Preprocessing

In [2]:
#load datase to pandas data frame
df = pd.read_csv("spam.csv",encoding='ISO-8859-1')
#replace the null values with null string
mail_data = df.where((pd.notnull(df)),'')

In [3]:
#shape of the data set(rows,columns)
mail_data.shape

(5572, 5)

In [5]:
#first 5 sample data
mail_data.head()

     v1  ... Unnamed: 4
0   ham  ...
1   ham  ...
2  spam  ...
3   ham  ...
4   ham  ...

[5 rows x 5 columns]

In [6]:
#last 5 sample data
mail_data.tail()

        v1  ... Unnamed: 4
5567  spam  ...
5568   ham  ...
5569   ham  ...
5570   ham  ...
5571   ham  ...

[5 rows x 5 columns]

In [7]:
#label spam mail as 0; non- spam mail(ham) mail as 1
mail_data.loc[mail_data['v1'] == 'spam','v1',] = 0
mail_data.loc[mail_data['v1'] == 'ham','v1',] = 1

In [8]:
#separate the data as text and label. x --> text,y --> label
X = mail_data['v2']
Y = mail_data['v1']

In [9]:
print(X)
print('................................')
print(Y)

0       Go until jurong point, crazy.. Available only ...
1                           Ok lar... Joking wif u oni...
2       Free entry in 2 a wkly comp to win FA Cup fina...
3       U dun say so early hor... U c already then say...
4       Nah I don't think he goes to usf, he lives aro...
                              ...
5567    This is the 2nd time we have tried 2 contact u...
5568                Will ÃŒ_ b going to esplanade fr home?
5569    Pity, * was in mood for that. So...any other s...
5570    The guy did some bitching but I acted like i'd...
5571                           Rofl. Its true to its name
Name: v2, Length: 5572, dtype: object
................................
0       1
1       1
2       0
3       1
4       1
       ..
5567    0
5568    1
5569    1
5570    1
5571    1
Name: v1, Length: 5572, dtype: object

Train Test Split

In [10]:
# split the data as train data and test data
X_train,X_test,Y_train,Y_test = train_test_split(X,Y,train_size = 0.8, test_size = 0.2, random_state = 3)

Feature Extraction

In [11]:
# transform the text data to feature vectors that can be used as input to th SVM model using TfidfVectorizer
# convert the text to lower case letters
feature_extraction = TfidfVectorizer(min_df=1,stop_words='english',lowercase='True')
X_train_features = feature_extraction.fit_transform(X_train)
X_test_features = feature_extraction.transform(X_test)

#convert Y_train and Y_test values as integers
Y_train = Y_train.astype('int')
Y_test = Y_test.astype('int')

Train the model --> Support Vector Machine

In [14]:
#training the support vector machine model with training data
model = LinearSVC()
model.fit(X_train_features,Y_train)

LinearSVC(C=1.0, class_weight=None, dual=True, fit_intercept=True,
          intercept_scaling=1, loss='squared_hinge', max_iter=1000,
          multi_class='ovr', penalty='l2', random_state=None, tol=0.0001,
          verbose=0)

Evalution of the model

In [15]:
#prediction on training data
prediction_on_training_data = model.predict(X_train_features)
accuracy_on_training_data = accuracy_score(Y_train,prediction_on_training_data)

In [16]:
print("Accuracy on training data:",accuracy_on_training_data)

Accuracy on training data: 0.9995512676688355

In [17]:
#prediction on test data
prediction_on_test_data = model.predict(X_test_features)
accuracy_on_test_data = accuracy_score(Y_test,prediction_on_test_data)

In [19]:
print("Accuracy on test data:",accuracy_on_test_data)

Accuracy on test data: 0.9856502242152466

Predict the new mail

In [22]:
input_mail=["WINNER!! As a valued network customer you have been selected to receivea Ã¥Â£900 prize reward! To claim call 09061701461. Claim code KL341. Valid 12 hours only.,,,"]
#convert text feature vector
input_mail_features = feature_extraction.transform(input_mail)


#make prediction
prediction = model.predict(input_mail_features)
print(prediction)
if(prediction[0] == 1):
  print('Ham mail')
else:
  print("Spam mail")

[0]
Spam mail

In [23]:
input_mail=["Go until jurong point, crazy.. Available only in bugis n great world la e buffet... Cine there got amore wat..."]
#convert text feature vector
input_mail_features = feature_extraction.transform(input_mail)


#make prediction
prediction = model.predict(input_mail_features)
print(prediction)
if(prediction[0] == 1):
  print('Ham mail')
else:
  print("Spam mail")

[1]
Ham mail